html,
* {
  box-sizing: border-box;
}

.app__container {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.app__greeting-card {
  display: flex;
  align-items: center;
}

.app__greeting-card__avatar {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: orange;
  margin-right: 10px;
}

.app__page-title {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__page-title__text {
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

.app__page-title__cta {
  font-size: 0.9rem;
  color: orange;
  border: 0.2px solid orange;
  border-radius: 30px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.action-card {
  /* margin-top: 30px; */
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  border-radius: 6px 6px 6px 6px;
  /* border-radius: 6px; */
}

.action-card > div:nth-child(1) {
  width: 70%;
  height: 100%;
  max-height: 100%;
  padding: 10px 10px;
}

.action-card > div:nth-child(2) {
  width: 30%;
  height: 100%;
  max-height: 100%;
  border-radius: 0px 6px 6px 0px;
  padding: 0px 10px;
  color: white;
  text-align: center;
}

.action-card > div {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app__activity-card {
  background-color: rgba(0, 194, 103, 0.1);
  /* padding: 10px 10px; */
}

.app__activity-card__cta {
  background-color: #00c267;
}

.app__activity-card__cta--inactive {
  text-decoration: line-through;
}

.app__check-meal {
  background-color: #f9f5e1;
  /* padding: 10px 10px; */
}

.app__check-meal__cta {
  background-color: #ffbe56;
}

.app__getting-started {
  border-radius: 6px;
  background-color: #cfecff;
  padding: 10px 10px;
}

.app__timeline {
  margin-top: 30px;
}

.app__timeline-item__date {
  font-size: 1.4rem;
  color: #00c267;
  margin-bottom: 10px;
}

.app__timeline-item__body {
  display: flex;
  align-items: center;
}

.app__timeline-item__time {
  white-space: nowrap;
  margin-right: 10px;
}

.app__timeline-item__description {
  background-color: #cfecff;
  padding: 10px 10px;
  border-radius: 6px;
}

.app__footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-width: 100vw;
  width: 100vw;
  height: 74px;
  width: 375px;
  background-color: rgba(244, 244, 244, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
